@import "/bower_components/angular-material/angular-material.css";
@import "https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic";
@import "/bower_components/mdi/css/materialdesignicons.min.css";
@import "bower_components/material-color/material-color";
@import "loader";

//Global
button:focus {outline:0;}
md-icon:focus {outline:0;}

body {
	overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.layout-max-width {
  max-width: 1200px;
  margin: auto;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-actions {
	.md-button.md-icon-button {
		margin: 0;
	}
}
// SideNav
.fixed-top {
	position: fixed;
	top: 0;
}
.md-toolbar-tools {
	.md-button {
		font-size: 18pt;
		//Fix for button that stay focused...
		&.md-focused {
			background: none;
		}
	}
}

.md-sidenav-left.md-closed-add,
.md-sidenav-left.md-closed-remove {
    transition: 0.2s ease-in all;
}

.navbar-icon {
	font-size: 16pt;
}

// Others
.md-success .md-bar {
    background-color: $clr-green;
}

md-radio-button.vertical {
	display: inline-block;
}

.md-button.type-button {
	.mdi {
		color: $clr-grey; 
		font-size: 60pt; 
		height: auto;
	}
	&.active {
		&.movie {
			.mdi {
				color: $clr-light-blue
			}
		}
		&.tv {
			.mdi {
				color: $clr-purple
			}
		}
		&.other {
			.mdi {
				color: $clr-green
			}
		}
	}
}

label {
	margin-bottom: 2px;
}