.overlay {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    .spinner {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -40px;
	    margin-left: -40px;
	   	background-color: white;
	   	width: 80px;
	   	height: 80px;
	   	border-radius: 50%;
	   	md-progress-circular {
	   		margin-left: -10px;
	   		margin-top: -10px;
	   	}
	}
}
