.container
	.row
		.col-md-5 Nom du fichier
		.col-md-1 Statut
		.col-md-2 Avancement
		.col-md-1 Vitesse
		.col-md-2 Taille
		.col-md-1 Action
	.row(ng-repeat="task in data.tasks track by $index" ng-cloak)
		.col-md-5 {{task.title}}

		.col-md-1(style="text-align: center;")
			{{getElement(task, 'label')}}

		.col-md-2(style="text-align: center;")
			md-progress-linear(ng-class="getElement(task, 'progressColor')" md-mode="{{getElement(task, 'progressMode')}}" ng-value="100*task.additional.transfer.size_downloaded/task.size")

		.col-md-1(style="text-align: center;")
			span(ng-if="task.additional.transfer.speed_download > 0") {{task.additional.transfer.speed_download | bytes}}/s

		.col-md-2(style="text-align: center;")
			span {{task.additional.transfer.size_downloaded | bytes}}/{{task.size | bytes}}

		.col-md-1(style="text-align: center;")
			md-button.md-icon-button(ng-click="getElement(task, 'actionFunction')(task.id)")
				md-icon(md-font-icon="{{getElement(task, 'actionIcon')}}" ng-class="getElement(task, 'actionIcon')" style="color: {{getElement(task, 'actionColor')}}; font-size: 30px;")