.container
	.row
		.col-md-5 Nom du fichier
		.col-md-1 Statut
		.col-md-2 Avancement
		.col-md-1 Vitesse
		.col-md-2 Taille
		.col-md-1 Action
	.row(ng-repeat="item in items track by $index" ng-cloak)
		.col-md-5 {{item.task.title}}

		.col-md-1(style="text-align: center;")
			{{getElement(item.task, 'label')}}

		.col-md-2(style="text-align: center;")
			md-progress-linear(ng-class="getElement(item.task, 'progressColor')" md-mode="{{getElement(item.task, 'progressMode')}}" ng-value="100*item.task.additional.transfer.size_downloaded/item.task.size")

		.col-md-1(style="text-align: center;")
			span(ng-if="item.task.additional.transfer.speed_download > 0") {{item.task.additional.transfer.speed_download | bytes}}/s

		.col-md-2(style="text-align: center;")
			span {{item.task.additional.transfer.size_downloaded | bytes}}/{{item.task.size | bytes}}

		.col-md-1(style="text-align: center;")
			md-button.md-icon-button(ng-click="getElement(item.task, 'actionFunction')(item.task.id)")
				md-icon(md-font-icon="{{getElement(item.task, 'actionIcon')}}" ng-class="getElement(item.task, 'actionIcon')" style="color: {{getElement(item.task, 'actionColor')}}; font-size: 30px;")