md-autocomplete(md-selected-item='selectedItem', md-search-text-change="searchTextChange(searchText)", md-selected-item-change="selectedItemChange(item)", md-search-text='searchText', md-items='item in querySearch(searchText)', md-item-text='item.name')
	md-item-template
		img(ng-if="item.image" style="height: 40px; width: auto;" ng-src="https://image.tmdb.org/t/p/w185{{item.image}}")
		span {{item.name}}

div(ng-if="selectedItem")
	h2 {{selectedItem.name}}
	img(ng-if="selectedItem.image" style="height: 250px; width: auto;" ng-src="https://image.tmdb.org/t/p/w185{{selectedItem.image}}")

#season-select(ng-if="selectedItemInfo && mediaType")
	md-radio-group(ng-model='selectedSeason')
		md-radio-button.vertical(ng-repeat='season in selectedItemInfo.seasons', ng-value='season.season_number', aria-label='{{season.season_number}}')
			p Saison {{season.season_number}}
			img(ng-if="season.poster_path" style="height: 250px; width: auto;" ng-src="https://image.tmdb.org/t/p/w185{{season.poster_path}}")