extends layout

block body
	div(layout="column" style="height: 100%")
		md-sidenav.md-sidenav-left.md-whiteframe-z4(md-component-id='navbar')
			md-toolbar.md-theme-indigo
				h1.md-toolbar-tools Navigation
			md-list(ng-controller="SideNavCtrl")
				//- md-subheader.md-no-sticky Lien
				md-list-item(ng-click='navigateTo(link.href)', ng-repeat='link in links')
					md-icon.navbar-icon(md-font-icon="mdi {{link.icon}}")
					p {{link.name}} 
				//- md-subheader.md-no-sticky Options
		div(flex layout="column")
			md-toolbar.md-sidenav-left.md-whiteframe-z4(flex)
				.md-toolbar-tools
					md-button.md-icon-button(aria-label='Navigation' ng-click="toggleSideNav()")
						md-icon(md-font-icon='mdi mdi-menu')
					h2
						span Auto Download
					span(flex='')
					md-button.md-icon-button(aria-label='More')
						md-icon(md-font-icon='mdi mdi-dots-vertical')
			md-content(layout-padding flex md-scroll-y)
				div(ng-view)
		.overlay.cssFade(ng-show="$root.loader")
			.spinner.md-whiteframe-z4
				md-progress-circular(md-mode="indeterminate" md-diameter="50")