doctype
html(ng-app="myApp" ng-controller='AppCtrl')
	head
		meta(charset='utf8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="theme-color" content="#673AB7")
		base(href='/')
		title Auto Download
		link(rel="stylesheet", href="/css/app.css")

	body
		block body

		//- Jquery Dependencies
		script(src="/bower_components/jquery/dist/jquery.min.js")
		//- Angular Dependencies
		script(src='/bower_components/angular/angular.min.js')
		script(src='/bower_components/angular-route/angular-route.min.js')
		script(src='/bower_components/angular-aria/angular-aria.min.js')
		script(src='/bower_components/angular-animate/angular-animate.min.js')
		script(src='/bower_components/angular-material/angular-material.min.js')
		//- App
		script(src='js/app.js')
		//- Controllers
		script(src='js/controllers/appCtrl.js')
		script(src='js/controllers/downloadCtrl.js')
		script(src='js/controllers/myCtrl.js')
		script(src='js/controllers/searchCtrl.js')
		//- Services
		script(src='js/directives.js')
		//- Filters
		script(src='js/filters.js')
		//- Services
		script(src='js/services/appService.js')
		script(src='js/services/searchService.js')
		script(src='js/services/taskService.js')