{
  // Synology module config
  "Synology": {
    "host": {
      "protocol": "http",
      "url": "192.168.0.x",
      "port": "5000"
    },
    "account": {
      "user": "user",
      "password": "password"
    }
  },
	// The Movie Database config
  "MovieDB": {
    "api": {
      "key": "api_key"
    }
  },
  // MongoDB config
  "MongoDB": {
    "uri": "mongodb://<dbuser>:<dbpassword>@<dbhost>:<dbport>/<dbdatabase>"
  }
}